<div class="container">
  <form class="form-horizontal" role="form">
    <fieldset>
      <legend>Fact</legend>
      <div class="form-group">
        <label class="col-sm-3 col-form-label" for="fact-id">ID</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="fact-id" [(ngModel)]="fact._id" id="fact-id" placeholder="id">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label" for="fact-user">User</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="fact-user" [(ngModel)]="fact.user" id="fact-user" placeholder="user">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label" for="fact-text">Text</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="fact-text" [(ngModel)]="fact.text" id="fact-text" placeholder="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label" for="fact-update">Update at</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="fact-update" [(ngModel)]="fact.update" id="fact-update"
            placeholder="update at">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label" for="fact-create">Create at</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="fact-create" [(ngModel)]="fact.create" id="fact-create"
            placeholder="create at">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label" for="fact-delete">Delete</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="fact-delete" [(ngModel)]="fact.delete" id="fact-delete"
            placeholder="delete">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label" for="fact-type">Type</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="fact-type" [(ngModel)]="fact.type" id="fact-type" placeholder="delete">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label" for="fact-source">Source</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="fact-source" [(ngModel)]="fact.source" id="fact-source"
            placeholder="source">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label" for="fact-used">Used</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="fact-used" [(ngModel)]="fact.used" id="fact-used" placeholder="used">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="button" class="btn btn-success">Save</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
